.btn {
  all: unset;
  cursor: pointer;
  transition: all 0.2s;
  display: inline-block;

  &--primary {
    background-color: var(--color-primary);
    padding: 0.7rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 1rem;
    font-size: $fs-base;
    box-shadow: 0 0.15rem 0.15rem var(--color-shadow);
    text-transform: uppercase;
    &:hover {
      background-color: var(--color-primary--dark);
    }

    &:active {
      box-shadow: 0 0.05rem 0.1rem var(--color-shadow);
      background-color: var(--color-primary--light);
    }
  }

  &--close {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover {
      background-color: var(--color-main-background);
    }
  }
}
