.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  &-textinput {
    padding: 0.5rem 1rem;
    font-size: $fs-base;
    font-family: $body-font;
    border: none;
    border: 0.15rem solid var(--color-black--light);
    background-color: transparent;
    border-radius: 0.5rem;
    transition: all 0.2s;

    &:focus {
      outline: 0.1rem solid var(--color-black);
      background-color: var(--color-white);
    }
  }
}
