.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  &-textinput {
    padding: 0.5rem 1rem;
    font-size: $fs-base;
    font-family: $body-font;
    border: none;
    border: 0.15rem solid var(--color-black--light);
    border-radius: 0.5rem;

    &:focus {
      background-color: var(--color-white-d--1);
    }
  }
}
