.card {
  &--stuff {
    width: $card-stuff-width;
    height: calc($card-stuff-width * 1.1);
    overflow: hidden;
    border-radius: $card-stuff-radius;

    &__image {
      display: inline-block;
      width: 100%;
      height: 70%;
    }
  }

  .card--stuf__details {
    padding: 0 $card-stuff-radius;
    height: 100%;
  }
}
