.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  &__overlay {
    background-color: var(--color-dialog-overlay);
    backdrop-filter: blur(0.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 50rem;
    height: min-content;
    // padding: 0 0 2rem 0;
    background-color: var(--color-surface-background);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;

    &-header {
      padding: 1rem 1.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid var(--color-dialog-overlay);
    }
  }
}
