.header {
  background-color: var(--color-surface-background--transparent);
  backdrop-filter: blur(1rem);
  height: var(--dimen-header-height);
  box-shadow: 0 0.1rem 0.1rem var(--color-shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: grid;
  grid-template-columns: 17rem repeat(10, 1fr) 17rem;
  align-items: center;

  .app__logo {
    grid-column: 2 / 3;
    justify-content: start;
  }

  .btn--new-stuff {
    grid-column: 11 / 12;
    justify-self: flex-end;
  }
}
