.section {
  padding: calc($header-height + 0.5%) 5rem calc($footer-height + 1%) 5rem;
  background-color: var(--color-main-background);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
