.upload__box {
  height: 22.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0.25rem dashed var(--color-main-background);
  border-radius: 0.5rem;
  cursor: pointer;

  .previewImg {
    &--loaded {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
